arduino_spi: &lpspi1 {
        status = "okay";
        /* DMA channels 0 and 1, muxed to LPSPI1 RX and TX */
        dmas = <&edma0 0 13>, <&edma0 1 14>;
        dma-names = "rx", "tx";
        pinctrl-0 = <&pinmux_lpspi1>;
        pinctrl-names = "default";

        spidev: spi-device@1 {
                reg = <0>;
        };
};
